<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message?</title>
    <style>
        .form-container {
            width: 80%;
            max-width: 750px;
            margin-left: auto;
            margin-right: auto;
        }

        h6 {
            font-size: x-small;
            color: gray;
        }

        a, a:hover, a:visited, a:active {
            color: inherit;
        }
    </style>
</head>
<body>
<div class="form-container">
    <h4>{message}</h4>
    <div>{comment}</div>
    <h6>Feedback form is provided by a cookieless open-source service
        <a href="https://github.com/abar193/replayka">replayka</a>.</h6>
</div>
</body>
</html>
